.category { 
	@apply w-full flex justify-center; 
  
	.category_block { 
	  @apply mt-[86px] border border-regal-red; 
  
	  > h2 { 
		@apply text-[23px] sm:text-[28px] text-regal-black font-bold text-center; 
	  } 

	  .carousel { 
		@apply relative flex items-center justify-center mt-[42px] ; 
  
		.carouselWrapper { 
		  @apply overflow-scroll w-full max-w-[1250px]; // Ограничиваем максимальную ширину 
		} 
  
		.carouselItems {  
		  @apply flex transition-transform duration-300 gap-[20px] border border-regal-red justify-between; // Плавный переход для слайдера 
		  width: calc(100% + 12px); // Убедитесь, что ширина составляет 100% + отступы 
		} 
		.carouselItem { 
		
		  transition: opacity 0.3s ease-in-out; // Плавный переход прозрачности 
		  border: 1px solid black;
		
		  @apply  w-36 h-40  sm:mt-0 sm:max-w-[377px] md:w-full md:max-w-[220px] md:h-[339px];
		} 
		.prevButton, 
		.nextButton { 
		  @apply absolute top-1/2 transform -translate-y-1/2 z-10 p-2 bg-gray-800 text-white rounded hover:bg-gray-700; 
		  transition: background-color 0.3s, border-color 0.3s; 
		  cursor: pointer; // Добавляем курсор для кнопок 
		  width: 40px; // Ширина кнопок 
		  height: 40px; // Высота кнопок 
		} 
  
		.prevButton { 
		  left: -40px; // Отступ от левого края 
		} 
  
		.nextButton { 
		  right: -30px; // Отступ от правого края 
		} 
	  } 
	} 
  }